*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, rgb(90, 53, 53), rgb(58, 57, 57));
}
h1{
    text-align: center;
    margin-top: 50px;
}
.container{
    margin-top: 7vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.nav{
    width: 100%;
}
.nav ul{
    list-style: none;
    display: flex;
    width: 70%;
    gap: 22px;
    margin: auto;
}
.nav ul li, .btn{
    width: 100%;  
    font-size: 1em;
    border-bottom: none;
    cursor: pointer;
}
.title{
    font-size: 4em;
    color: rgb(171, 167, 167);
    margin-bottom: 5vh;
}
.btn{
    padding: 6px;
    background: green;
    border-radius: 15px;
    border: none;
}
.border{
    background: rgb(53, 50, 50);
    width: 90%;
    height: 35vh;
    border-radius: 60px;
    align-content: center;
}

.border p{
    font-size: 5em;
    text-align: center;
}
.pp{
    margin-top: 60px;
}

.lap{
    width: 50%;
    margin-top: 62px;
    margin-left: 200px;
    text-align: center;
    border-top: none;
}
.dis-none{
    display: none;
}
.resuming, .lapping, .stoping, .reseting{
    display: none;
}

.list{
    flex-direction: column;
}
.list .btn{
    width: 30%;
}

@media only screen and (min-width: 1000px) {
    .nav ul{
        width: 50%;
        gap: 30px;
    }
    .border p{
        font-size: 6em;
    }
    /* .border{
        width: 70%;
    } */
    .lap{
        margin-top: 40px;
        margin-left: 300px;
    }
    /* .pp{
        margin-top: 10px;
    } */
}
